<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>jsp</display-name>
	<servlet>
		<servlet-name>UserloginController</servlet-name>
		<servlet-class>kr.or.ddit.user.web.UserloginController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BuildBoard</display-name>
		<servlet-name>BuildBoard</servlet-name>
		<servlet-class>kr.or.ddit.board.web.board.BuildBoard</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BuildBoardController</display-name>
		<servlet-name>BuildBoardController</servlet-name>
		<servlet-class>kr.or.ddit.board.web.board.BuildBoardController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ModifyBoardController</display-name>
		<servlet-name>ModifyBoardController</servlet-name>
		<servlet-class>kr.or.ddit.board.web.board.ModifyBoardController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EnterBoardController</display-name>
		<servlet-name>EnterBoardController</servlet-name>
		<servlet-class>kr.or.ddit.board.web.board.EnterBoardController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>writePostController</display-name>
		<servlet-name>writePostController</servlet-name>
		<servlet-class>kr.or.ddit.board.web.post.writePostController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>awritePostController</display-name>
		<servlet-name>awritePostController</servlet-name>
		<servlet-class>kr.or.ddit.board.web.post.writePostController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PostController</display-name>
		<servlet-name>PostController</servlet-name>
		<servlet-class>kr.or.ddit.board.web.post.PostController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeletePostController</display-name>
		<servlet-name>DeletePostController</servlet-name>
		<servlet-class>kr.or.ddit.board.web.post.DeletePostController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ModifyPostController</display-name>
		<servlet-name>ModifyPostController</servlet-name>
		<servlet-class>kr.or.ddit.board.web.post.ModifyPostController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ReplyPostController</display-name>
		<servlet-name>ReplyPostController</servlet-name>
		<servlet-class>kr.or.ddit.board.web.post.ReplyPostController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WriteCmtController</display-name>
		<servlet-name>WriteCmtController</servlet-name>
		<servlet-class>kr.or.ddit.board.web.cmt.WriteCmtController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>deleteCmtController</display-name>
		<servlet-name>deleteCmtController</servlet-name>
		<servlet-class>kr.or.ddit.board.web.cmt.deleteCmtController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteFileController</display-name>
		<servlet-name>DeleteFileController</servlet-name>
		<servlet-class>kr.or.ddit.board.web.uploadFile.DeleteFileController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserloginController</servlet-name>
		<url-pattern>/UserloginController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuildBoard</servlet-name>
		<url-pattern>/BuildBoard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuildBoardController</servlet-name>
		<url-pattern>/BuildBoardController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyBoardController</servlet-name>
		<url-pattern>/ModifyBoardController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EnterBoardController</servlet-name>
		<url-pattern>/EnterBoardController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>writePostController</servlet-name>
		<url-pattern>/writePostController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>awritePostController</servlet-name>
		<url-pattern>/awritePostController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostController</servlet-name>
		<url-pattern>/PostController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletePostController</servlet-name>
		<url-pattern>/DeletePostController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyPostController</servlet-name>
		<url-pattern>/ModifyPostController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReplyPostController</servlet-name>
		<url-pattern>/ReplyPostController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WriteCmtController</servlet-name>
		<url-pattern>/WriteCmtController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteCmtController</servlet-name>
		<url-pattern>/deleteCmtController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteFileController</servlet-name>
		<url-pattern>/DeleteFileController</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<!-- error Page -->
	<error-page>
		<error-code>404</error-code>
		<location>/error/404/404.html</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/error/500/500.html</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.ArithmeticException</exception-type>
		<location>/error/type/arithmeticException.jsp</location>
	</error-page>


	<!-- 초기화 파라미터 -->
	<context-param>
		<param-name>ADMIN</param-name>
		<param-value>brown</param-value>
	</context-param>


	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/oracleDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>